body{
    font-family: cursive;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2,h3{
    color: #77ff32;
}

#lat,#long,#desc,#temp{
    color: #c8ff77;
}

#city{
    color: #9d35ff;
}

.title{
    font-size: 50px;
    font-family: Monospaced, SansSerif, cursive;
    color: #ff9800;
}